@charset "utf-8";

@font-face { font-family: 'Blippo Blk BT'; src: url(Blippo Blk BT.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
	font-family: Blippo Blk BT;
	font-weight: normal;
}
