@charset "utf-8";

@font-face { font-family: 'Blippo'; src: url('../fonts/blippo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('../fonts/GodoM.woff2') format('woff2'), url('../fonts/GodoM.woff') format('woff'); }
@font-face { font-family: 'GodoB'; font-style: normal; font-weight: 700; src: url('../fonts/GodoB.woff2') format('woff2'), url('../fonts/GodoB.woff') format('woff'); } 
body{
	font-family: 'Blippo';
	font-weight: normal;
}
