@charset "utf-8";



#navTop {
	position: fixed;
	z-index: 1;
	width: 100%;
	_background-color: rgba(255,255,255,0.3);
}
#navTop ul {
	width: 100%;
}
#navTop ul li {
	float: left; width: 25%;
}
#navTop ul li a {
	display: block;
	line-height: 40px;
	text-align: center;
	padding: 0 10px;
	color: #fff;
	font-size:16px;
}
.page {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#navTop .active {
	background-color: rgba(28,19,98,0.8);
}
#page1 {
	background-image: url(../images/bgi_mb.png);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
}
#page1 img {
	margin: 0 auto;
	position: absolute;
}
#page1 img:nth-child(1){
	width: 350px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#page1 img:nth-child(2){
	width: 330px;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
}
#page2 {
	background-image: url(../images/bgi.png);
	position: relative;
}
#page2 .bg {
	width: 320px !important;
	height: 560px !important;
}
#page2 .bg video {
	width: 290px;
	padding-top: 15px;
	margin-left: 15px;
}
#page2 .bg a {;
	display: block;
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 35px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
	font-size: 18px;
	position: absolute; top: 50%; left: 50%;
	margin-top: 170px; margin-left: -15px;
}
#page2 .bg a:hover {
	background-color: rgba(255,255,255,1);
	color: #020042;
}
#page2 img {
	position: absolute;
}
#page2 img.logo01 {
	left: 50%; top: 50%;
	margin-left: 45px; margin-top: -85px;
	width: 100px;
}
#page2 img.icon01{
	width: 160px;
	bottom: 0;left: 0;
}
#page2 img.icon02 {
	width: 200px;
	top: 50%; left: 50%;
	margin-top: 105px; margin-left: 30px;
}

#page2 .story_txt {
	position: absolute;
	width: 300px;
	left: 50%;
	top: 50%; margin-top: -30px;
	transform: translateX(-50%);
}
#page2 .story_txt p {
	color: #fff;
	font-family: 'GodoB';
	line-height: 20px;
	font-size: 14px;
}




#page3 {
	background-image: url(../images/bgi2_mb.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
#page3 img {position: absolute;}
#page3 img.character01 {
	width: 200px;
	top: -2%; left: -15%;
	/*margin-top: -350px; margin-left: -250px;*/
}
#page3 img.character01_1 {
	width: 200px;
	/*top: 50%; left: 50%;
	margin-top: -350px; margin-left: -250px;*/
}
#page3 .introWrap1 {
	opacity: 0; position: absolute;
	width: 200px; height: 243px;
	top: -2%; left: -15%;
	/*margin-top: -350px; margin-left: -250px;*/
	cursor: pointer;
}
#page3 .introWrap1.active {animation: introAni1 0.3s forwards;}
@keyframes introAni1 {
	to {opacity: 1;}
}
#page3 .intro1 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -25px;
	margin-left: -15px;
	opacity: 1;
}
#page3 .intro1>h2 {
	font-size: 18px;
	color: #e0d0e6;
	font-family: 'GodoB';
	text-align: center;
	margin-bottom: 5px;
}
#page3 .intro1>a {
	display: block;
	font-size: 14px;
	font-family: 'GodoB';
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 30px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
}
#page3 .intro1>a:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
}
#page3 .infoC1 {opacity: 0;background-color: rgba(0,0,0,.7);display: none; width: 300px;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;}
#page3 .infoC1.active {opacity: 1;background-color: rgba(0,0,0,.7);
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;display: block;}
#page3 .infoC1.active>p {
	font-family: 'GodoB';
	font-size: 14px;
	color: #fff; padding: 10px;
}
#page3 .infoC1 img {width: 30px; position: absolute; top: 10px;right: 10px; cursor: pointer;}
#page3 img.character02 {
	width: 160px;
	top:10%;right: 0;
	/*margin-top: -300px; margin-left: 15px;*/
}
#page3 img.character02_1 {
	width: 160px;
}
#page3 .introWrap2 {
	opacity: 0; position: absolute;
	width: 160px; height:231px;
	top:10%;right: 0;
	/*margin-top: -300px; margin-left: 15px;*/
	cursor: pointer;
}
#page3 .introWrap2.active {animation: introAni2 0.3s forwards;}
@keyframes introAni2 {
	to {opacity: 1;}
}
#page3 .intro2 {
	position: absolute;
	top: 50%; left: 50%;
	margin-left: -50px; margin-top: -30px;
	opacity: 1;
}
#page3 .intro2>h2 {
	font-size: 18px;
	color: #f2930e;
	font-family: 'GodoB';
	text-align: center;
	margin-bottom: 10px;
}
#page3 .intro2>a {
	display: block;
	font-size: 14px;
	font-family: 'GodoB';
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 30px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
}
#page3 .intro2>a:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
}
#page3 .infoC2 {opacity: 0;background-color: rgba(0,0,0,.7);display: none;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;width: 300px;}
#page3 .infoC2.active {opacity: 1;background-color: rgba(0,0,0,.7);
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;display: block;width: 300px;}
#page3 .infoC2.active>p {
	font-family: 'GodoB';
	font-size: 14px;
	color: #fff; padding: 10px;
}
#page3 .infoC2 img {width: 30px; position: absolute; top: 10px;right: 10px; cursor: pointer;}
#page3 img.character03 {
	width: 200px; transform: rotate(-90deg);
	top: 22%;left: -15%;
	/*margin-left: -220px; margin-top: -200px;*/
}
#page3 img.character03_1 {
	width: 200px; transform: rotate(-90deg);
}
#page3 .introWrap3 {
	opacity: 0; position: absolute;
	width: 200px; height: 260px;
	top: 22%;left: -15%;
	/*margin-left: -220px; margin-top: -200px;*/
}
#page3 .introWrap3.active {animation: introAni3 0.3s forwards;}
@keyframes introAni3 {
	to {opacity: 1;}
}
#page3 .intro3 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	opacity: 1;
}
#page3 .intro3>h2 {
	font-size: 18px;
	color: #fdf1dc;
	font-family: 'GodoB';
	text-align: center;
	margin-bottom: 10px;
}
#page3 .intro3>a {
	display: block;
	font-size: 14px;
	font-family: 'GodoB';
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 30px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
}
#page3 .intro3>a:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
}
#page3 .infoC3 {opacity: 0;background-color: rgba(0,0,0,.7);display: none;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 300px;
z-index: 10; border-radius: 10px;}
#page3 .infoC3.active {opacity: 1;background-color: rgba(0,0,0,.7); width: 300px;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;display: block;}
#page3 .infoC3.active>p {
	font-family: 'GodoB';
	font-size: 14px;
	color: #fff; padding: 10px;
}
#page3 .infoC3 img {width: 30px; position: absolute; top: 10px;right: 10px; cursor: pointer;}
#page3 img.character04 {
	top: 50%; left: 50%; width: 150px;
	margin-left: 40px; margin-top: -90px;
}
#page3 img.character04_1 {
	width: 150px;
}
#page3 .introWrap4 {
	opacity: 0; position: absolute;
	top: 50%; left: 50%; width: 150px; height: 231px;
	margin-left: 40px; margin-top: -90px;
}
#page3 .introWrap4.active {animation: introAni4 0.3s forwards;}
@keyframes introAni4 {
	to {opacity: 1;}
}
#page3 .intro4 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -80px; margin-left: -45px;
	opacity: 1;
}
#page3 .intro4>h2 {
	font-size: 18px;
	color: #f1f3ae;
	font-family: 'GodoB';
	text-align: center;
	margin-bottom: 10px;
}
#page3 .intro4>a {
	display: block;
	font-size: 14px;
	font-family: 'GodoB';
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 30px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
}
#page3 .intro4>a:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
}
#page3 .infoC4 {opacity: 0;background-color: rgba(0,0,0,.7);display: none;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 300px;
z-index: 10; border-radius: 10px;}
#page3 .infoC4.active {opacity: 1;background-color: rgba(0,0,0,.7);
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 300px;
z-index: 10; border-radius: 10px;display: block;}
#page3 .infoC4.active>p {
	font-family: 'GodoB';
	font-size: 15px;
	color: #fff; padding: 10px;
}
#page3 .infoC4 img {width: 30px; position: absolute; top: 10px;right: 10px; cursor: pointer;}
#page3 img.character05 {
	width: 140px;
	top: 50%;left: 50%;
	margin-left: -170px;
}
#page3 img.character05_1 {
	width: 140px;
}
#page3 .introWrap5 {
	opacity: 0; position: absolute;
	width: 140px; 
	top: 50%;left: 50%;
	margin-left: -170px;
}
#page3 .introWrap5.active {animation: introAni5 0.3s forwards;}
@keyframes introAni5 {
	to {opacity: 1;}
}
#page3 .intro5 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: 30px;
	margin-left: -45px;
}
#page3 .intro5>h2 {
	font-size: 18px;
	color: #a7d9f5;
	font-family: 'GodoB';
	text-align: center;
	margin-bottom: 10px;
}
#page3 .intro5>a {
	display: block;
	font-size: 14px;
	font-family: 'GodoB';
	text-align: center;
	width: 100px;
	border: 1px solid #fff;
	line-height: 30px;
	color: white;
	border-radius: 10px;
	margin: 0 auto;
	transition: .3s;
}
#page3 .intro5>a:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
}
#page3 .infoC5 {opacity: 0;background-color: rgba(0,0,0,.7);display: none; width: 300px;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;}
#page3 .infoC5.active {opacity: 1;background-color: rgba(0,0,0,.7); width: 300px;
position:absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
z-index: 10; border-radius: 10px;display: block;}
#page3 .infoC5.active>p {
	font-family: 'GodoB';
	font-size: 14px;
	color: #fff; padding: 10px;
}
#page3 .infoC5 img {width: 30px; position: absolute; top: 10px;right: 10px; cursor: pointer;}



#page4 {
	position: relative;
	overflow: hidden;
}
#page4 .first img.sadC {
	height: 360px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
#page4 .first .tears1 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: 218px; margin-left: -58px;
	z-index: 2;
}
#page4 .first .tears1 li:nth-child(1){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 95px; margin-top: -280px;
}
#page4 .first .tears1 li:nth-child(2){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 132px; margin-top: -285px;
}
#page4 .first .tears1 li:nth-child(3){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 169px; margin-top: -280px;
}
#page4 .first .tears1 li:nth-child(4){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 199px; margin-top: -255px;
}
#page4 .first .tears1 li:nth-child(5){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 219px; margin-top: -220px;
}
#page4 .first .tears1 li:nth-child(6){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 229px; margin-top: -180px;
}
#page4 .first .tears1 li:nth-child(7){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 235px; margin-top: -135px;
}
#page4 .first .tears1 li:nth-child(8){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 240px; margin-top: -90px;
}
#page4 .first .tears1 li:nth-child(9){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 243px; margin-top: -45px;
}
#page4 .first .tears1 li:nth-child(10){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 246px; margin-top: 0px;
}
#page4 .first .tears1 li:nth-child(11){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 249px; margin-top: 45px;
}
#page4 .first .tears1 li:nth-child(12){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 252px; margin-top: 90px;
}
#page4 .first .tears1 li:nth-child(13){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 255px; margin-top: 135px;
}

.tear1{
	opacity:0;
	animation:tearV1 0.3s infinite
}
@keyframes tearV1{
	to{opacity:1;}
}

.tear2{
	opacity:1;
	animation:tearV2 0.3s infinite
}
@keyframes tearV2{
	to{opacity:0;}
}

#page4 .first .tears2 {
	position: absolute;
	top: 50%; left: 50%;
	margin-top: 190px; margin-left: -100px;
	transform: rotateY(180deg) rotate(-35deg);
	z-index: 2;
}
#page4 .first .tears2 li img {
	transform: rotateY(180deg);
}
#page4 .first .tears2 li:nth-child(1){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 95px; margin-top: -280px;
}
#page4 .first .tears2 li:nth-child(2){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 132px; margin-top: -285px;
}
#page4 .first .tears2 li:nth-child(3){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 169px; margin-top: -280px;
}
#page4 .first .tears2 li:nth-child(4){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 199px; margin-top: -255px;
}
#page4 .first .tears2 li:nth-child(5){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 219px; margin-top: -220px;
}
#page4 .first .tears2 li:nth-child(6){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 235px; margin-top: -170px;
}
#page4 .first .tears2 li:nth-child(7){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 245px; margin-top: -120px;
}
#page4 .first .tears2 li:nth-child(8){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 255px; margin-top: -65px;
}
#page4 .first .tears2 li:nth-child(9){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 258px; margin-top: -5px;
}
#page4 .first .tears2 li:nth-child(10){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 260px; margin-top: 55px;
}
#page4 .first .tears2 li:nth-child(11){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 260px; margin-top: 115px;
}
#page4 .first .tears2 li:nth-child(12){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 263px; margin-top: 175px;
}
#page4 .first .tears2 li:nth-child(13){
	position: absolute;
	top: 50%; left: 50%;
	margin-left: 266px; margin-top: 235px;
}
.tears3 {
	display: none;
}
.tears4 {
	background-color: #28b6e5;
	width: 300px; height: 100px;
	border-radius: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translateX(-50%);
	margin-top: 110px;
	opacity: 0;
	animation: tears4 1s forwards linear;
}
@keyframes tears4 {
	0% {opacity: 0;}
	100% {opacity: 1}
}
.fullimg img {
	position: absolute;
	top: 100%; left: -1281px;
	height: 2000px !important;
	opacity: .7;
	z-index: 3;
}

.full.active .fullimg img:nth-child(1){
	animation: full1 3s 0.5s forwards ease-in;
}
.full.active .fullimg img:nth-child(2){
	animation: full2 3s 0.5s forwards ease-in;
}
@keyframes full1 {
	0% {top: 100%; left: -1281px;}
	50% {left: 0;}
	100% {top: -300px; left: -1281px;}
}
@keyframes full2 {
	0% {top: 100%; left: -1320px;}
	50% {left: 0;}
	100% {top: -300px; left: -1320px;}
}
.full.active .line {
	border: 3px dashed #fff;
	position: absolute;
	width: 100%; height: 20px;
	top: 50%; margin-top: -20px;
	transform: translateY(50%);
	z-index: 999;
	opacity: 0;
	animation: line .5s 4s forwards;
}
.full.active .line>img {
	display: block !important;position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	animation: click .5s 4s forwards;
}
@keyframes line {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes click {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.DVD {
	display: none;
}
#page4 .first,
#page4 .next {
	width: 100%;height: 100%;
	position: absolute;top:0;}
.nextWrap {
	height:100%;width:100%;
	position: absolute;
}
.DVD.active {
	display: block;
	width: 100%;
	position: absolute;
	left: 50%; transform: translateX(-50%);
	z-index: 4; opacity: 0; margin-left: 35px;
	animation: DVD 0.3s 4s forwards linear;
}
@keyframes DVD {
	0% {opacity: 0; top: 0;}
	100% {opacity: 1; top: 10%;}
}
.DVD.active>h2 {
	display: none;
}
.DVDWrap {width: width: 290px;margin: auto;}
.DVDWrap>img {
	width: 100px;
	float: left;
	margin-right: 20px;
	padding-top: 40px;
}
.DVDWrap>ul {
	width: 170px; height: 212px; float: left;
}
.DVDWrap>ul>li {
	float: left;
	margin-right: 10px;
}
.DVDWrap>ul>li:nth-child(2),
.DVDWrap>ul>li:nth-child(4) {
	margin-right: 0;
}
.DVDWrap>ul>li:nth-child(1),
.DVDWrap>ul>li:nth-child(2) {
	margin-bottom: 10px;
}
.DVDWrap>ul>li>a>img {
	width: 80px;
}
.game {display: none;}
.game.active {
	display: block;
	width: 70%;
	position: absolute; bottom: 0;
	left: 50%; transform: translateX(-50%);
	z-index: 4; opacity: 0;
	animation: game 0.3s 4s forwards linear;
}
@keyframes game {
	0% {opacity: 0; bottom: 0;}
	100% {opacity: 1; bottom: 5%;}
}
.game>h2 {
	font-size: 40px;
	color: #020042;
	text-align: center;
	margin-bottom: 50px; display: none;
}
.gameWrap {}
.gameWrap>ul {
	width: 100%; height: 212px;
}
.gameWrap>ul>li {
	float: left; width: 49%;
	margin-right: 1%; text-align: center;
}
.gameWrap>ul>li:nth-child(2),
.gameWrap>ul>li:nth-child(4) {
	margin-right: 0;
}
.gameWrap>ul>li:nth-child(1),
.gameWrap>ul>li:nth-child(2) {
	margin-bottom: 10px;
}
.gameWrap>ul>li>a {display: block;width: 80px;margin: auto;}
.gameWrap>ul>li>a>img {
	width: 80px; height: 120px;
}
img.page4_img {display: none;}
img.page4_img.active {
	display: block;
	position: absolute;
	bottom: 0; left: 0;
	width: 150px; z-index: 5; opacity: 0;
	animation: pg4img 0.3s 4s forwards;
}
@keyframes pg4img {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#page5 .footer {position: relative; width: 100%;border-top: 3px dashed #fff;}
#page5 .footer>.infoWrap {width: 100%;height: 500px;position: relative;}
#page5 .footer>.infoWrap>ul {width: 290px;position: absolute;top: 50%;left: 50%;
transform: translate(-50%,-50%);}
#page5 .footer>.infoWrap>ul>li {float: left;margin-bottom: 20px;width: 290px;}
#page5 .footer>.infoWrap>ul>li:last-child {margin-right: 0;}
#page5 .footer>.infoWrap>ul>li>h2 {
	font-size: 18px; margin-bottom: 10px; color: #ddd;
	text-align: center; font-family: 'GodoB';
}
#page5 .footer>.infoWrap>ul>li>p {
	font-size: 14px;
	color: #ddd;
	font-family: 'GodoB';
	text-align: center;
}
#page5 .footer>.sns {position: absolute; bottom: 20px; left: 50%;
transform: translateX(-50%);}
#page5 .footer>.sns>ul {width: 190px;}
#page5 .footer>.sns>ul>li {float: left;margin-right: 10px;}
#page5 .footer>.sns>ul>li:last-child {margin-right: 0;}
#page5 .footer>.sns>ul>li>a>img {width: 30px;}
#page5 .footer>img.ftImg1 {position: absolute;top: 0;left: 0;width: 50px;}
#page5 .footer>img.ftImg2 {position: absolute;top: 0;right: 0;width: 50px;}








#fp-nav{display: none;}
#fp-nav ul li, .fp-slidesNav ul li {
	display: block;
	width: 42px;
	height: 42px;
	margin: 7px;
	position: relative;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 42px;
    width: 124px;
    margin: -20px -6px 0 0;
    border-radius: 42px;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 42px;
    width: 124px;
    margin: -20px -6px 0 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 42px;
	width: 42px;
	border: 0;
	background: rgba(255,255,255,0.4);
	right: 50%;
	top: 50%;
	margin: -20px -2px 0 0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-image: url(../images/happy_ball.png);
	background-size: 32px;
	background-position: center;
	background-repeat: no-repeat;
}


