@charset "utf-8";


#navTop {
	position: fixed;
	z-index: 1;
	width: 100%;
	_background-color: rgba(255,255,255,0.3);
	padding-right: 10px;
}
#navTop ul {
	float: right;
}
#navTop ul li {
	float: left;
}
#navTop ul li a {
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
}
#page1 {
	background-image: url(../images/bgi.png);
}
#page1 img {
	margin: 0 auto;
}
#page2 {
	background-image: url(images/poster02.png);
}
#page3 {
	/*background-image: url(images/insideout_30.mp4);*/
}
#page4 {
	background-image: url(images/);
}
.page {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#navTop .active {
	background-color: #fff;
}