@charset "utf-8";


#navTop {
	position: fixed;
	z-index: 1;
	width: 100%;
	_background-color: rgba(255,255,255,0.3);
	padding-right: 10px;
}
#navTop ul {
	float: right;
}
#navTop ul li {
	float: left;
}
#navTop ul li a {
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
	color: #fff;
}
#page1 {
	background-image: url(../images/bgi.png);
	position: relative;
}
#page1 img {
	margin: 0 auto;
	position: absolute;
}
#page1 img:nth-child(1){
	width: 605px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#page1 img:nth-child(2){
	width: 500px;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
}
#page2 {
	background-image: url(../images/bgi.png);
	position: relative;
}
#page2 video {
	width: 790px;
	padding-top: 80px;
	margin-left: 50px;
}
#page2 img {
	position: absolute;
	top: 50%; right: 50%;
}
#page2 img.logo01 {
	margin-right: -570px;
	margin-top: -400px;
}
#page2 img.icon01{
	margin-right: 630px;
	width: 310px;
	margin-top: 100px;
}
#page2 img.icon02 {
	margin-right: -900px;
	margin-top: -30px;
	width: 400px;
}

#page2 .story_txt {
	position: absolute;
	right: 50%;
	margin-right: -700px;
	top: 50%;
	transform: translateY(-50%);
}
#page2 .story_txt p {
	color: #fff;
	font-family: 'GodoB';
	line-height: 30px;
	font-size: 18px;
}
#page3 {
	background-image: url(../images/bgi2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	overflow: hidden;
	position: relative;
}
#page3 img {position: absolute;}
#page3 img.character01 {
	top: 50%;
	margin-top: -400px;
	left: -180px;
}
#page3 img.character01_1 {
	display: none;
	top: 50%;
	margin-top: -400px;
	left: -180px;
}
#page3 img.character01:hover {
	transform: scale(10 10);
}
#page3 img.character02 {
	width: 360px;
	bottom: 10px;
	left: 50%;
	margin-left: -550px;
}
#page3 img.character02_1 {
	display: none;
	width: 360px;
	bottom: 10px;
	left: 50%;
	margin-left: -550px;
}
#page3 img.character03 {
	top: -35%;
	left: 50%;
	margin-left: -580px;
}
#page3 img.character03_1 {
	display: none;
	top: -35%;
	left: 50%;
	margin-left: -580px;
}
#page3 img.character04 {
	top: 40px;
	right: 50%;
	margin-right: -260px;
}
#page3 img.character04_1 {
	display: none;
	top: 40px;
	right: 50%;
	margin-right: -260px;
}
#page3 img.character05 {
	width: 270px;
	bottom: 30px;
	right: 50%;
	margin-right: -430px;
}
#page3 img.character05_1 {
	display: none;
	width: 270px;
	bottom: 30px;
	right: 50%;
	margin-right: -430px;
}
#page4 {
	
}
#page4 img {
	height: 900px;
	margin: 0 auto;
}
.page {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#navTop .active {
	background-color: rgba(28,19,98,0.8);
}













#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 42px;
    height: 42px;
    margin: 7px;
    position: relative;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 42px;
    width: 124px;
    margin: -20px -6px 0 0;
    border-radius: 42px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 42px;
    width: 124px;
    margin: -20px -6px 0 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 42px;
    width: 42px;
    border: 0;
    background: rgba(255,255,255,0.4);
    right: 50%;
    top: 50%;
    margin: -20px -2px 0 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	background-image: url(../images/happy_ball.png);
	background-size: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

